@media (max-width: 767.98px) {
  .logo-header{
    width: 50% !important;
  }
  .wedd-sub-nav{
    text-align: left;
    padding: 0.5rem 0rem 0.5rem 0rem;
    font-family: Q-l !important;
  }
  .wedd-sub-nav a{
      display: block;
      margin-right: 0rem;
  }
  .btn-group-goals{
    display: block;
  }
}